doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='/css/base.css')
    link(rel='stylesheet' href='/css/grid.css')
    link(rel='stylesheet' href='/css/home.css')

    title 
  body
  .home
    .grid.wide
      .row-home
          p.home__title ADMIN DASHBOARD 
          .page 
            a.page-link(href="/adminPage") Your Account
              
              
          .page 
            a.page-link(href="/dashboard") Account Dashboard
         
              
              
          .page 
            a.page-link(href="/historyPayment") History Payment Dashboard
         
              
              
          .page 
            a.page-link(href="/") Logout
         
              
              